.maskedTextField.text-field
    .text-field__name Text Field
    
    input.maskedTextField__input.text-field__input-field(
        type='text'
        name='email-input'
        placeholder=''
    )   
