
.text-field
    .text-field__name Text Field
    .text-field__note Default
    input.text-field__input-field(
        type='text'
        name='email-input'
        placeholder='Email'
    )   




//- .text-field
//-     .text-field__name Text Field
//-     .text-field__note Hover / Focus 
//-     input.text-field__input-field.text-field_hover(
//-         type='text'
//-         name='email-input'
//-         placeholder='This is pretty awesome'
//-     )   