.input-block   
    .input-block__name Dropdown
    .input-block__note DEFAULT 
    img(src='./assets/img/expand_more.svg')
    select(form='addProperty', name='propertyType').input-dropdown.input-field 
        
        
            option(value='0') Сколько гостей 
            option(value='6') 1
            option(value='7') 2
            option(value='10') 3
            option(value='11') 4
            option(value='12') 5
            option(value='13') 6   
    

//-img(src=require("./expand_more.svg").default)         

                