.rate-btn.form-column-2__rate-btn
    .like-btn__title.button-title rate button
    .rate-btn__wrap
        .rate-btn__list(data-total-value='4')
            .rate-btn__item.material-icons(data-item-value='5')  
            .rate-btn__item.material-icons(data-item-value='4') 
            .rate-btn__item.material-icons(data-item-value='3') 
            .rate-btn__item.material-icons(data-item-value='2') 
            .rate-btn__item.material-icons(data-item-value='1') 
        .rate-btn__inner
            .rate-btn__list(data-total-value='5')
                .rate-btn__item.material-icons(data-item-value='5')  
                .rate-btn__item.material-icons(data-item-value='4') 
                .rate-btn__item.material-icons(data-item-value='3') 
                .rate-btn__item.material-icons(data-item-value='2') 
                .rate-btn__item.material-icons(data-item-value='1') 