doctype html
html(lang='en')
  head
    title Color And Type
    link(rel="stylesheet" href="form-elements.scss")
  body
    .form_layout
      .form_column.form_column-1 
        include ../../blocks/text-field/text-field.pug
        include ../../blocks/text-field-hover-focused/text-field-hover-focused.pug
        include ../../blocks/dropDownList/dropDownList.pug
        include ../../blocks/maskedTextField/maskedTextField.pug
        include ../../blocks/datepicker/datepicker.pug
        
          
        
        
        
        //- include ../../blocks/dropdown-list-value/dropdown-list-value.pug
        
      .form_column.form_column-2 
        include ../../blocks/checkbox-button/checkbox-button.pug
        include ../../blocks/radio-button/radio-button.pug
        include ../../blocks/toggle-button/toggle-button.pug
        include ../../blocks/like-button/like-button.pug
        include ../../blocks/rate-button/rate-button.pug

    
      



  
   
    