.radio-btn.radio-btn__form_column2
    .radio-btn__title.button-title Radio Buttons
    .radio-btn__wrap  
        .radio-btn__item.radio-btn__item-man
            input.radio-btn__input(type='radio' id='man' name='gender' checked)
            label.radio-btn__label(for="man") Мужчина
        .radio-btn__item
            input.radio-btn__input(type='radio' id='woman' name='gender')
            label.radio-btn__label(for="woman") Женщина
            