.text-field__item-wrap {
    border: 1px solid rgba(31,32,65,.5);
    border-top:none;
    height: 157px;
    padding: 6px 5px 0px 15px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    width:inherit;
}
.text-field__input-field{
    display: block
}

.dropDownList{
    // width: 200px; 
    position: relative;
}
.dropDownList__input-field::placeholder{
    color: $dark-shade75;
}
.dropDownList__border{
    border-radius: 4px 4px 0 0;
    border-color: rgba(31,32,65,.5);
}
.dropDownList__btns{
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: $primary-color;
    cursor: pointer;
    margin-top: 16px;
}
.clearfix:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
    clear		: both;
    
}
.dropDownList__clear {
    float: left;
}
.dropDownList__accept{
    float: right;
}
.material-icons {
    
    font-size: 24px;
}
.dropDownList__arrow{
    position: absolute;
    top: 35px;
    right: 10px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.quad{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
}

.dropdown-list-wrap{
    width:320px;
    position: relative;
    background-color: #eee;
    
}

.dropdown-list__placeholder{
    height:44px;
    
}

.dropdown-list__title{
    position: relative;
    top:12px;
    left: 5px;
}

.dropdown-list__arrow{
    position: absolute;
    font-size: 24px;
    right: 17px;
    top:20px;
}

.dropdown-list__items-wrap{
    position: absolute;
    width: inherit;
    border: 1px solid black
    
}

.dropdown-list__item{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    
}

.dropdown-list__name{
    margin: 0;
    margin-right: auto;
    font-size: 12px;
    font-weight: bold;
}
.value_int{
    font-size: 12px;
    font-weight: bold; 
}
/*блок управления*/

.dropdown-list__control-elements {
    display: flex;
    align-items: center;
    margin-left: auto;
    // width:90px;
} 

.dropdown-list__ctrl{
    height: 30px;
    width:30px;
    cursor: pointer;
    // background-image: url('../img/Rectangle.svg');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    position: relative;
   
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    
}

.dropdown-list__minus span{
    position: absolute;
    top:3px;
    left:11px;
    font-size: 18px;
    color: $dark-shade50;
}
.dropdown-list__plus span{
    position: absolute;
    top:5px;
    left:8px;
    font-size: 18px;
    color: $dark-shade50;
}
.dropdown-list__value {
    width: 20px;
    // margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin: 0 7px;
}
.inactiveColor{
    color:rgba(31, 32, 65, 0.01);
    border: 1px solid rgba(31, 32, 65, 0.1);
}
