$head-h1:24px;
$head-h2:19px;
$head-h3:12px;
$font-Quicksand: Quicksand, Calibri, sans-serif;
$font-Montserrat: Montserrat, Helvetica, sans-serif;

$main-color:yellow;
$head-color: blue;

$dark-shade100: #1F2041;
$dark-shade75: rgba(31, 32, 65, 0.75);
$dark-shade50: rgba(31, 32, 65, 0.5);
$dark-shade25:rgba(31, 32, 65, 0.25);
$dark-shade5: #F3F4F5;
$primary-color:  #BC9CFF;
$green: #6FCF97;




/*$mainfont: "Quicksand-bold";
//$secondfont: "PF Din Text Cond Pro Thin";
$secondfont: "Quicksand-normal";*/