.text-size-wrapper
    .text-container
        .text-size.big-text-block
            .text-size__big-text-icon H1
            h1.text-size__big-text 
                | This one is the sub-section or
                br
                | widget title
        .text-size.middle-text-block
            .text-size__middle-text-icon H2
            h2.text-size__middle-text 
                | Next one is the item title inside 
                br
                | widgets
        .text-size.small-text-block
            .text-size__small-text-icon H3
            h3.text-size__small-text This is a label or CTA text
        .text-size.body-text-block
            .text-size__body-text-icon Body
            p.text-size__body-text 
                |This is the body text which is used for most 
                br
                |of the design, like paragraphs, lists, etc.
        