.checkbox-btn.checkbox-btn__form_column
    .checkbox-btn__title.button-title  Checkbox Buttons
    label.checkbox-btn__item
        input.checkbox-btn__input(type='checkbox' name='agreement') 
        span.checkbox-btn__text Можно курить
    label.checkbox-btn__item
        input.checkbox-btn__input(type='checkbox' name='agreement' checked) 
        span.checkbox-btn__text Можно с питомцами
    label.checkbox-btn__item
        input.checkbox-btn__input(type='checkbox' name='agreement' checked) 
        span.checkbox-btn__text Можно пригласить гостей<br> (до 10 человек)