.toggle-btn.toggle-btn__form_column2
    .radio-btn__title.button-title Toggle
    .toggle-btn__item.toggle-btn__item-form-column2
        label.toggle-btn__label
            input.toggle-btn__input(type="checkbox" checked)
            span.toggle-btn__slider
        span.toggle-btn__text Получать спецпредложения      
    .toggle-btn__item
        label.toggle-btn__label
            input.toggle-btn__input(type="checkbox" )
            span.toggle-btn__slider
        span.toggle-btn__text Получать спецпредложения      
            