.input-dropdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}
.imgclass{
    background-image: url('/blocks/input-dropdown/expand_more.svg')
}