.like-btn.like-btn__form_column2
    .like-btn__title.button-title like button
    .like-btn__wrap
        .like-btn__button
            span.like-btn__heart.material-icons favorite_border
            span.like-btn__val 2
        .like-btn__button.like-btn__button_color-changed.like-btn__button__form_column2
            span.like-btn__heart.material-icons favorite
            span.like-btn__val 12
                