.text-field
    .text-field__name Text Field
    .text-field__note Hover / Focus
    input.text-field__input-field.text-field__input-field_hover(
        type='text'
        name='email-input'
        placeholder='This is pretty awesome'
    )   
